# Git
.git/
.gitignore

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE / Editor specific
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Logs and Temp
logs/
*.log
tmp/

# Build artifacts from other tools (if any)
node_modules/
dist/
build/